<footer>
    <div class="mw">
        <h2 class="logo">
            <a href="/">Broman</a>
        </h2>
        <nav>
            <a href="https://www.quora.com/gustaf-broman" target="_blank" rel="noreferrer noopener"><img src="/assets/images/icons/quora.svg" loading="lazy" /></a>
            <a href="https://www.goodreads.com/gustafbroman" target="_blank" rel="noreferrer noopener"><img src="/assets/images/icons/goodreads.svg" loading="lazy" /></a>
            <a href="https://www.github.com/gustafbroman" target="_blank" rel="noreferrer noopener"><img src="/assets/images/icons/github.svg" loading="lazy" /></a>
            <a href="https://www.youtube.com/channel/UCt4LJZdKaAfWd-QZgg0FNPg" target="_blank" rel="noreferrer noopener"><img src="/assets/images/icons/youtube.svg" loading="lazy" /></a>
        </nav>
    </div>
</footer>