{% assign title = page.title %}

{% if page.description %}
{% assign description = page.description %}
{% else %}
{% assign description = site.description %}
{% endif %}

{% if page.thumbnail %}
{% assign image = site.url | append: page.thumbnail %}
{% else %}
{% assign image = site.url | append: '/assets/images/thumbnails/' | append: page.permalink | append: '.webp' %}
{% endif %}

<meta name="og:image"          content="{{ image }}" />
<!-- Twitter -->
<meta name="twitter:card"           content="summary_large_image" />
<meta name="twitter:title"          content="{{ title }}" />
<meta name="twitter:description"    content="{{ description }}" />
<meta name="twitter:image"          content="{{ image }}" />
<!--RSS feed-->
<link rel="alternate" type="application/atom+xml" href="{{ site.url | append: '/feed.xml' }}">
