<div class="share">
    <!-- Twitter -->
    <div class="share-btn">
        <a  class="twitter-share-button"
            href="https://twitter.com/intent/tweet"
            data-size="small"
            data-text=""
            data-url="https://broman.blog/{{ page.permalink }}"
            data-related="twitterapi,twitter">
            Tweet
        </a>
    </div>
    <!-- Facebook -->
    <div class="share-btn">
        <div class="fb-share-button" 
            data-href="https://broman.blog/{{ page.permalink }}" 
            data-layout="button" 
            data-size="small">
            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
                Share
            </a>
        </div>
    </div>
    <!-- Print -->
    <button class="share-btn print" onclick="window.print()">
        Print
    </button>
</div>

<script>window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
  
    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };
  
    return t;
  }(document, "script", "twitter-wjs"));</script>