{% assign url = site.url | append: page.permalink %}

<div class="share">
    <a class="share-button" href="https://www.facebook.com/sharer.php?u={{url}}" target="blank" rel="noopener noreferrer">
        <img src="/_assets/images/icons/facebook.svg" alt="" />
        <span>Share</span>
    </a>
    <a class="share-button" href="https://twitter.com/intent/tweet?url={{url}}" target="blank" rel="noopener noreferrer">
        <img src="/_assets/images/icons/twitter.svg" alt="" />
        <span>Tweet</span>
    </a>
    <a class="share-button" href="http://www.reddit.com/submit?url={{url}}&title={{page.title}}" target="blank" rel="noopener noreferrer">
        <img src="/_assets/images/icons/reddit.svg" alt="" />
        <span>Reddit</span>
    </a>
    <a class="share-button" href="#" onclick="window.print()">
        <img src="/_assets/images/icons/print.svg" alt="" />
        <span>Print</span>
    </a>
</div>
