<div class="widget profile">
    <a href="/about" class="picture">
        <picture>
            <source srcset="/assets/images/profile.webp" type="image/webp">
            <source srcset="/assets/images/profile.jpg" type="image/jpeg"> 
            <img src="/assets/images/profile.jpg" alt="Gustaf Broman" loading="lazy">
        </picture>
    </a>
    <a href="/about"><h3>Hi, I'm Gustaf Broman<span class="emoji">👋</span></h3></a>
    <p>
        A software engineer secretly in love with writing & the creative process.
    </p>
    <p>
        Welcome to my public journal! This is where I ramble about the odd business of being a human.
    </p>
    <p>
        Question: <i>Are you confused?</i> This uniquely weird universe confuses me every day. Let's be confused together.
    </p>
    <p class="nm">
        I do not necessarily agree with all I've said. But maybe some of it can be of interest to you? <a href="/about">Read more...</a>
    </p>
</div>
<div class="widget newsletter">
    <a href="/newsletter"><h3>The Weekly Pointer<span class="emoji">📬</span></h3></a>
    <p>I'll send you a cool vid, book or pod on Sundays ait?</p>
    <div id="revue-embed">
        <form action="https://www.getrevue.co/profile/gustafbroman/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank">
            <input class="revue-form-field" placeholder="Your email address..." type="email" name="member[email]" id="member_email">
            <input type="submit" value="I'm in" name="member[subscribe]" id="member_submit">
        </form>
    </div>
</div>
<div class="widget quotes">
    <a href="https://www.goodreads.com/quotes/list/63185510-gustaf-broman" target="_blank"><h3>Quote of the Moment<span class="emoji">📜</span></h3></a>
    <p id="gr_quote_body">
        <script src="https://www.goodreads.com/quotes/widget/63185510-gustaf?v=2" type="text/javascript"></script>
    </p>
</div>