<div class="widget profile">
    <a href="/about" class="picture">
        <picture>
            <img src="/assets/images/profile.jpg" loading="lazy" alt="Gustaf Broman">
        </picture>
    </a>
    <a href="/about"><h3>Hi, I'm Gustaf Broman <span class="emoji">👋</span></h3></a>
    <p>
        A software engineer secretly in love with writing and the creative process.
    </p>
    <p>
        Welcome to my public journal! This is where I ramble about the odd business of being a human.
    </p>
    <p>
        Question: <i>Are you confused?</i> Good. This uniquely weird universe confuses me every day. Let's be confused together.
    </p>
    <p class="nm">
        I don't necessarily agree with everything I've said. But maybe some of it can be of interest to you? <a href="/about">Read more...</a>
    </p>
</div>
<div class="widget newsletter">
    <div class="container">
        <h3>My Super Simple Newsletter</h3>
        <p>Join the email list and I'll personally send you a weekly review of insightful podcasts, books and videos I've found.</p>
        <!-- Begin Mailchimp Signup Form -->
        <div id="mc_embed_signup">
            <form action="https://app.us8.list-manage.com/subscribe/post?u=d851867d34794042763eb3505&amp;id=658d87ac3d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d851867d34794042763eb3505_658d87ac3d" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="widget">
    <h3>Quote of the Moment</h3>
    <p id="gr_quote_body">
        <script src="https://www.goodreads.com/quotes/widget/63185510-gustaf?v=2" type="text/javascript"></script>
    </p>
</div>