.entry {
    overflow: hidden;
    margin-bottom: 32px;
    h2 {
        line-height: 1.4em;
        margin: 0;
    }
    time {
        line-height: 1em;
        color:$gray;
        font-size:15px;
    }
    p {
        margin:8px 0 2px 0;
        font-size: 17px;
        * {
            font-style: normal;
        }
    }
    a:hover {
        text-decoration-color: $black;
    }
}
.up-next-entry {
    width: 100%;
    padding:24px 36px;
    border: 1px solid $gray_light;
    border-radius: 3px;
    a, a:visited {
        color: $black;
        text-decoration-color: $black;
    }
    h4 {
        font-size: 16px;
        letter-spacing: 0;
        margin-top: 0;
        margin-bottom: 12px;
        font-weight: 700;
        color:$gray_dark;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .date {
        font-size: 15px;
        color:$gray;
        margin-bottom: 2px;
    }
}

@media screen and (max-width:$mobile) {
    article.entry {
        h2 {
            font-size: 18px;
            line-height: 1.35em;
            -webkit-line-clamp: 3;
            margin-bottom: 4px;
        }
    }
}