$entry_height: 110px;
$thumbnail_width: $entry_height * (13/9);

.entry {
    padding:0;
    overflow: hidden;
    margin-bottom: $padding_l;
    .flex {
        display: flex;
        position:relative;
        min-height: $entry_height;
        max-height: $entry_height;
        a.image {
            position: relative;
            display: inline-block;
            min-height: 100%;
            max-height: $entry_height;
            min-width: 0;
            max-width: $thumbnail_width;
            width:auto;
            margin-right: $padding;
            text-align: center;
            overflow: hidden;
            img {
                background-color: #eee;
                min-height:100%;
                max-height: $entry_height;
                min-width: $thumbnail_width;
                max-width: $thumbnail_width;
                object-position: center;
            }
        }
        .container {
            display: inline-block;
            padding-right: $padding;
            flex: 1;
            a {
                text-decoration-color: $black;
            }
            h2 {
                font-size: 20px;
                margin-top: 0;
                margin-bottom: 12px;
                padding-top: 2px;
                font-weight: 700;
                color:$black;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .date {
                font-size: 15px;
                color:$gray_dark;
            }
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.up-next {
    .entry {
        opacity: 0.95;
        &:hover {
            opacity: 1;
        }
        .flex {
            a.image {
                border-radius: 3px !important;
            }
        }
    }
}

@media screen and (max-width:$l) {
    .up-next {
        padding-bottom: 20px;
        margin-bottom: 16px;
        border-bottom: 1px solid $gray_light;
    }
}
@media screen and (max-width:$m) {
    article.entry {
        margin-bottom: $padding;
        .flex {
            img {
                border-radius: 0;
            }
            .container {
                .va {
                    h2 {
                        font-size: 16px;
                        -webkit-line-clamp: 3;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:$s) {
    article.entry {
        margin-bottom: 16px;
        .flex {
            .container {
                padding-right: $padding_s;
                h2 {
                    font-size: 16px;
                    letter-spacing: 0;
                }
            }
            a.image {
                min-height: $entry_height;
                max-height: $entry_height;
                max-width: $entry_height;
                margin-right: $padding_s;
                img {
                    min-height: $entry_height;
                    max-height: $entry_height;
                    min-width: $entry_height;
                    max-width: $entry_height;
                }
            }
        }
    }
}