// Header and footer mostly same styling
$inner_height: 40px;

header, footer {
    width:100%;
    max-height:58px;
    min-height: $inner_height;
    padding-left:$padding;
    padding-right:$padding;
    * {vertical-align: top;}
    .mw {
        display: flex;
        height:auto;
        padding-top: 4px;
        padding-bottom: 4px;
        * {
            height:$inner_height;
            line-height: $inner_height;
            font-size: 16px;
            user-select: none;
        }
        nav {
            display:inline-block;
            flex:1;
            text-align: right;
            overflow: hidden;
            a {
                margin-left:12px;
                font-size:15px;
                img {
                    display: inline-block;
                    height:16px;
                    width: 16px;
                    vertical-align: middle;
                    filter: invert(1);
                }
            }
        }
    }
}

// Divergernt color styling
header {
    background-color:transparent;
    .mw {
        *, *:visited {
            color:$black;
        }
    }
}
footer {
    background-color: $black;
    .mw {
        *, *:visited {
            color:$background;
        }
    }
}

// Broman logo in header and footer
h2.logo {
    display:inline-block;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    &:hover a {
        text-decoration: none;
    }
}