// Colors
$black_dark: #0d0d0d;
$black: #131313;
$black_light: #333333;
$background: #fafbfc;
$blue: #002171;
$blue_light: #065fd4;
$gray: #cccccc;
$gray_dark: #828282;

// Fonts
$main_font: 'Noto Sans JP', sans-serif;
$secondary_font: 'Merriweather', serif;

// Breakpoints
$xs: 340px;
$s: 420px;
$m: 600px;
$l: 860px;

$padding:20px;
$transition: all 0.16s ease-in-out;

//Generalities
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: $main_font;
    transition: $transition;
}
body {
    background-color: $background;
    overflow-x: hidden;
    overflow-y: auto;
}
img {
    object-fit: cover;
    border-radius: 3px;
}

// Utils
.mw {
    max-width: $l;
    margin-left: auto;
    margin-right: auto;
}
section.mh {
    display: flex;
    height:auto;
    padding-top: 16px;
    padding-bottom: 40px;
    main {
        display: inline-block;
        flex:1;
    }
}
.pads {
    padding-left: $padding;
    padding-right: $padding;
}
.va {
    display: table;
    height: 100%;
}
.var {
    display: table-cell;
    vertical-align: middle;
}

@media screen and (max-width:calc(#{$l} + 2*#{$padding})) {
    section.mh {
        display: block;
        padding-bottom: 8px;
    }
    section.mh main {
        display: block;
        width:100%;
        margin: 0 auto;
        flex:0;
        max-width: $m;
    }
}
@media screen and (max-width:$m) {
    .pads {
        padding:0;
    }   
}