$aside_width: 216px;
$padding: 42px;
$padding_mobile: 20px;
$padding_mobile_small: 18px;
$header_height: 40px;

main {
    flex: 1;
    vertical-align: top;
    padding-top: $padding;
    padding-bottom: $padding;
    padding-left: calc(#{$aside_width} + #{$padding});
    padding-right: $padding;
}
aside {
    display: inline-block;
    position: fixed;
    top:0;
    width: $aside_width;
    height: 100vh;
    padding: $padding;
    text-align: right;
    overflow: hidden;
    border-right:1px solid $gray_light;
    * {
        vertical-align: top;
    }
    header {
        img {
            width: 108px;
            height: 108px;
            border-radius: 100% 2px 100% 100%;
        }
        h2 {
            font-size: 20px;
            line-height: 1em;
            margin: 17px 0 12px 0;
            color:$black;
        }
        a:hover {
            text-decoration-color: $black;
        }
    }
    nav {
        a {
            display: block;
            line-height: 1em;
            margin-bottom: 12px;
            letter-spacing: 0.03em;
            font-size:15px;
            color: $blue_light;
            &:visited {
                color: $blue_light;
            }
        }
    }
}

@media screen and (max-width:$mobile) {
    body {
        display: block;
    }
    main {
        display: block;
        flex:none;
        max-width: 520px;
        margin: 0 auto;
        padding: $padding_mobile;
    }
    aside {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        padding-top: 18px;
        padding-bottom: 12px;
        padding-left: $padding_mobile;
        padding-right: $padding_mobile;
        text-align: left;
        border-right:none;
        header {
            display: block;
            padding-bottom: 16px;
            a {
                display: inline-block;
            }
            img {
                height:$header_height;
                width: $header_height;
                padding: 1px 2px 1px 0;
                margin-right: 12px;
            }
            h2 {
                display: inline-block;
                line-height: $header_height;
                margin:0;
            }
        }
        nav {
            display:block;
            height:16px;
            overflow: hidden;
            a {
                display: inline-block;
                margin: 0 7px 0 0;
                line-height: 1em;
                letter-spacing: 0;
            }
        }
    }
}

@media screen and (max-width:$mobile_small) {
    main {
        padding-left: $padding_mobile_small;
        padding-right: $padding_mobile_small;
    }
    aside {
        padding-left: $padding_mobile_small;
        padding-right: $padding_mobile_small;
        header {
            h2 {
                font-size: 19px;
            }
        }
        nav {
            a {
                margin-right: 6px;
            }
        }
    }
}
