@media print {
    body {
        background-color:#fff !important;
    }
    main {
        display: block;
        margin: 0 auto;
    }
    aside, footer, .share, .up-next {
        display:none !important;
    }
}