@media print {
    body {
        display: block;
        background-color:#fff !important;
        margin:32px;
    }
    main {
        display: block;
        margin: 0 auto;
        width: 100%;
        padding:0;
    }
    aside, .share, .up-next {
        display:none !important;
    }
}