@tailwind base;
@tailwind components;
@tailwind utilities;

.unset-img {
  width: 100%;

  > img {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

p {
  overflow-wrap: break-word;
}

@media print {
  header, img {
    display: none;
  }
  h1, h2, h3, p {
    color: #000 !important;
  }
}