@tailwind base;
@tailwind components;
@tailwind utilities;

.unset-img {
  width: 100%;

  > img {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}
