---
layout: default
---

<article class="post">
    <h1>{{ page.title }}</h1>
    {{ content }}
    {% include share.html %}
    {% include info.html %}
    <div class="up-next">
        <h5>Up next</h5>
        {% assign posts = site.posts | where_exp:"post", "post.url != page.url" | sample:2 %}
        {% for post in posts limit:1 %}
            <div class="up-next-entry va">
                <div class="var">
                    <a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
                    <div class="date">{{ post.date | date: '%B %d, %Y' }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
</article>
