---
layout: default
---
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
<article class="post">
    <img src="{{'/assets/images/thumbnails/' | append: page.permalink | append: '.jpg'}}" loading="lazy" class="main" onerror='this.style.display = "none"'>
    <div class="text">
        <h1>{{ page.title }}</h1>
        {{ content }}
        <div class="meta">
            {{ page.date | date: '%B %d, %Y' }} <span class="middot">&middot;</span> <span class="category"><a href="/every">Category:</a> <a href="{{ page.category }}">{{ page.category }}</a></span>
        </div>
    </div>
</article>