@import 'colors';
@import 'sizes';
@import 'typography';

article {
  flex: 1;
  margin-bottom: 64px;
  h1 {
    font-size: x-large;
    margin: 0 0 4px 0;
  }
  p {
    margin: 18px 0 0 0;
    font-size: medium;
  }
  p * {
    font-size: medium;
  }
  li {
    font-family: $SECONDARY_FONT;
    font-size: medium;
    margin-bottom: 4px;
  }
  time {
    display: block;
  }
  blockquote {
    padding-left: 20px;
    margin: 0 0 22px 0;
    border-left: 2px solid $BLACK;
    font-style: italic;
    cite {
      font-style: normal;
      font-family: $MAIN_FONT;
      color: $GRAY;
    }
  }
}
