@import 'colors';
@import 'typography';

header {
  margin-top: 4px;
  margin-bottom: 64px;
  ul {
    list-style-type: none;
    li {
      line-height: 1em;
      display: inline-block;
      font-family: $MAIN_FONT;
      margin-right: 16px;
      a {
        color: $BLACK_LIGHT !important;
      }
    }
  }
}
