@use 'print';
@use 'intro';
@use 'posts';
@use 'footer';
@use 'article';
@use 'typography';

@import 'sizes';
@import 'colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: $WHITE_LIGHT;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main#container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  max-width: $PAGE_WIDTH;
  margin: 0 auto;
  padding: 16px;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
