@use 'print';
@use 'header';
@use 'footer';
@use 'posts';
@use 'article';
@import 'typography';
@import 'colors';

$PAGE_WIDTH: 520px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $WHITE_LIGHT;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flexer {
  flex: 1;
}

main#container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  max-width: $PAGE_WIDTH;
  margin: 0 auto;
  padding: 16px;
  #newsletter {
    display: flex;
    flex-direction: column;
    margin: 16px 0 48px 0;
    gap: 16px;
    img {
      width: 100px;
      border-radius: 50%;
    }
    p, p i {
      font-size: 16px
    }
    &.standalone {
      margin: 0;
    }
  }
  #gitletter-form {
    margin-top: 8px;
    div {
      display: flex;
      align-items: center;
      max-width: 400px;
      input {
          flex: 1;
          font-size: 16px;
          padding: 8px 12px;
          border-radius: 0;
          border: 1px solid $GRAY_BORDER;
          background-color: $GRAY_BORDER_LIGHTER;
          border-right: none;
          color: $BLACK_LIGHT;
          &::placeholder {
            color: $GRAY;
          }
        }
        button {
          font-size: 16px;
          padding: 8px 12px;
          color: $BLACK;
          border-radius: 0;
          border: 1px solid $GRAY;
          background-color: $GRAY_BORDER;
        }
    }
  }
  hr {
    border: none;
    height: 1px;
    margin: 20px 0;
    color: $GRAY_BORDER; /* old IE */
    background-color: $GRAY_BORDER; /* Modern Browsers */
  }
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
