@import 'colors';
@import 'typography';

section#posts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  article {
    a.postlink {
      text-decoration-color: $BLACK_LIGHT;
      h2 {
        line-height: 36px;
        margin: 0;
      }
    }
    p {
      font-family: $SECONDARY_FONT;
      margin: 0;
    }
  }
}

@media screen and (max-width: 400px) {
  #gitletter-form {
    input {
      flex: 1;
    }
  }
}
